 <style>
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #eeeeee;
      font-family: Arial, sans-serif;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .container img {
      width: 195px;
      margin-bottom: 20px;
    }

    form {
      background-color: #ffffff;
      padding: 50px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 400px;
      box-sizing: border-box;
      text-align: center;
    }

    h2 {
      margin-bottom: 20px;
      color: #440101;
    }

    .form-label {
      margin-bottom: 10px;
      display: block;
      font-weight: bold;
      text-align: left;
      color: #333;
    }

    .form-control {
      width: 100%;
      padding: 15px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .btn {
      width: 100%;
      padding: 10px;
      background-color: #440101;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }

    .btn:hover {
      background-color: #7b241c;
    }

    .cadastro-link {
      margin-top: 15px;
      font-size: 14px;
      color: #555;
      text-align: center;
    }

    .cadastro-link a {
      color: #440101;
      text-decoration: none;
      font-weight: bold;
    }

    .cadastro-link a:hover {
      text-decoration: underline;
    }
  </style>
